@import "src/app/styles/colors";
@import "src/app/styles/font";

.form {
  width: 100%;

  &__input {
    width: 100%;
    margin-top: 11px;
  }
}

.form-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__login {
    margin: 0;
    width: 95%;
    box-shadow: 0 0 11px 0 $shadow-white, 0 0 0 -2px $shadow-grey, 0 1px 8px 0 $shadow-dark-grey;
  }

  &__forget {
    font-size: 12px;
    font-weight: $fw-lighter;
    color: $blue;
  }
}
