<div class="project-stat">
  <mat-card class="project-stat__item">
    <mat-card-title class="project-stat__title">
      <h5 class="project-stat__title-text">IMC</h5>

      <!-- <mat-select
      class="chart-select"
      [(ngModel)]="selectedMatSelectValue"
      (selectionChange)="changedMatSelectionValue()"
    >
      <mat-option [value]="matSelectFields.daily">Daily</mat-option>
      <mat-option [value]="matSelectFields.weekly">Weekly</mat-option>
      <mat-option [value]="matSelectFields.monthly">Monthly</mat-option>
    </mat-select> -->
    
    </mat-card-title>
    <mat-card-content class="project-stat-content">
      <apx-chart *ngIf = 'series' [series]="series" [chart]="chart" ></apx-chart>
    </mat-card-content>
  </mat-card>
</div>
