<mat-card class="chart">
  <mat-card-title class="chart__header">
    <p class="chart__title">Uso do app</p>
    <div class="chart-legend">
      <div class="chart-legend__item">
        <div class="chart-legend__icon yellow"></div>
        <span class="chart-legend__title">Novos Cadastros</span>
      </div>
      <div class="chart-legend__item">
        <div class="chart-legend__icon blue"></div>
        <span class="chart-legend__title">Avaliações Realizadas</span>
      </div>
    </div>

    <mat-select
      class="chart-select"
      [(ngModel)]="selectedMatSelectValue"
      (selectionChange)="changedMatSelectionValue()"
    >
      <mat-option [value]="matSelectFields.daily">Diário</mat-option>
      <!-- <mat-option [value]="matSelectFields.weekly">Semanal</mat-option> -->
      <mat-option [value]="matSelectFields.monthly">Mensal</mat-option>
    </mat-select>
  </mat-card-title>
  <mat-card-content class="chart__content">
    <apx-chart
      *ngIf = 'series'
      [series]="series"
      [chart]="chart"
      [xaxis]="xaxis"
      [colors]="chartColors"
      [dataLabels]="dataLabels"
      [tooltip]="tooltip"
    ></apx-chart>
  </mat-card-content>
</mat-card>
